*{
    background-color: blueviolet;
}
h1{
    text-align: center;
}
#Bollywood{
    background-color: aliceblue;
}
#Hollywood{
    background-color: aliceblue;
}
#search{
    text-align: center;
    background-color: aliceblue;
}
nav{
    background-color: #333;
}